.comment__content > h3:nth-child(1) {
  display: none;
}

.node__content > section:nth-child(2) > h2:nth-child(1) {
  display: none;
}

p.no-question {
  margin: 0 0 1.2em;
  text-align: center;
  padding-top: 31px;
  font-size: 17px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front {
  left: 25% !important;
  top: 2% !important;
  width: 50% !important;
}

/*----------  IDEA CONTENT TYPE BODY  ----------*/
.comment-idea-comments__form label {
  display: none;
}

article.idea .content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "initial" "body" "radios" "comments" "next";
}

article.user_comment {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: initial;
  background-color: lightgoldenrodyellow;
  padding: 0.5rem 0.5rem 0.25rem;
  font-style: italic;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

article.idea div.field--name-body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
  padding: 0;
}

form.idea-radio-form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: radios;
}

article.idea section {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: comments;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "enter" "new";
}

article.idea section article.new {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: new;
  background-color: lightgoldenrodyellow;
}

form.comment-idea-comments__form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: enter;
}

form.comment-idea-comments__form label {
  display: none;
}

article.idea {
  /*----------  COMMENTS  ----------*/
}

article.idea .js-comment {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

article.idea .js-comment .links.inline {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: links;
  margin-bottom: 0;
}

article.idea .js-comment .links.inline li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

article.idea .js-comment .links.inline a {
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 0.5rem;
}

article.idea .field--type-entity-reference {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: next;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  border-radius: 0;
}

article.idea .field--type-entity-reference > :first-child::before {
  content: "Continue working with this thought:";
  font-weight: 600;
  float: left;
  width: 100%;
}

article.idea .field--type-entity-reference a {
  float: left;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  color: black;
  border: 2px solid black;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.75rem 1rem;
  display: block;
}

article.idea .field--type-entity-reference a:hover {
  border: 2px solid #ed6963;
  background-color: #ed6963;
  color: #fff;
}

article.idea footer {
  font-size: small;
  font-style: italic;
  margin-bottom: 10px;
  display: none;
}

.comment-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content auto;
      grid-template-columns: -webkit-max-content -webkit-max-content auto;
      grid-template-columns: max-content max-content auto;
      grid-template-areas: "comment comment comment" "links like report";
  gap: 1rem;
}

/*----------  REPORT  ----------*/
.field--name-field-idea-comment {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: comment;
}

.field--name-field-like {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: like;
}

.field--name-field-report-abuse {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: report;
}

/*----------  LIKE / DISLIKE  ----------*/
.like_dislike img,
.report img {
  margin: unset;
  height: 2rem;
  width: auto;
  max-width: unset;
}

.like_dislike .like {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like_dislike .like a {
  border: medium none !important;
}

/*----------  HIDING SOME STUFF  ----------*/
/*# sourceMappingURL=styles.css.map */