@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,300;1,500;1,600&display=swap");
/*=============================================
=            GENERAL TOP LEVEL                =
=============================================*/
html {
  font-size: medium;
}

body {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: 1.8rem;
}

h2, .h2 {
  font-size: 1.6rem;
}

h3, .h3 {
  font-size: 1.3rem;
}

h4, .h4 {
  font-size: 1.15rem;
}

h5, .h5 {
  font-size: 1.075rem;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: 600;
}

hr {
  border-top: 2px solid #ddd;
}

strong {
  font-weight: 600;
}

/*----------  LISTS  ----------*/
section li {
  line-height: inherit;
  margin: .25em 1em;
}

.field.field--name-body ol ul, li > p {
  font-size: inherit !important;
}

/*----------  LINKS  ----------*/
a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a:link {
  color: #00b4bc;
  font-weight: 500;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
}

a:visited {
  color: #1b8798;
}

a:hover {
  color: #ed6963;
}

section a:link {
  border-bottom: 1px solid #00b4bc;
  padding-bottom: 1px;
}

section a:hover {
  border: none;
  color: #00b4bc;
}

section a:visited, section a:visited:hover {
  color: #1b8798;
  border-color: #1b8798;
}

.field--item a:link, .field--item a:visited, .field-content a:link, .field-content a:visited {
  float: none !important;
  text-decoration: none !important;
}

/*----------  TABLES  ----------*/
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f1f3f4;
}

/*----------  EMBEDDED PDFs  ----------*/
.embedded-pdf {
  width: 100%;
  height: 600px;
}

@media (max-width: 480px) {
  .embedded-pdf {
    height: 400px;
  }
}

/*=====  End of GENERAL TOP LEVEL  ======*/
/*=============================================
=            ARTICLES    			          =
=============================================*/
.page-header {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  border-bottom: none;
}

.field--name-field-author {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  margin-top: .25rem;
  text-align: center;
}

.diy-tool, .connect-tool, .condition, .referral-to-treatment-profile, .treatment-info {
  padding: 0 1rem 2rem 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

section {
  overflow-x: hidden;
}

.field--name-body, .field--name-field-treatment-category, .field--name-field-condition-severity, .field--name-field-tags, .field--type-entity-reference, .field--name-field-referral-tool-friendly-des {
  clear: both;
  display: block;
  margin: 1em 0;
  padding: 1em 0;
}

.field--type-entity-reference {
  background: #fff !important;
  padding: .5em 1em;
  margin: .5em .75em .5em 0;
  border-radius: 5px;
}

/*=====  End of ARTICLES  ======*/
/*=============================================
= NAVIGATION PAGES (INFO & SUPPORT, /DIY, ETC.) 
=============================================*/
.pager li > a {
  border: 1px solid #00b4bc;
}

.view-header {
  margin: 0 0 1em !important;
}

.views-element-container h2, .views-element-container .h2 {
  font-weight: 500;
  padding: 0 0 1em;
  text-align: center;
}

.path-depression .row, .path-anxiety .row, .path-bipolar .row, .path-psychosis .row, .path-self-harm .row {
  margin: 0 auto;
}

.form--inline.form-inline {
  border-bottom: 1px solid #eee;
  padding: .75rem 0;
  border-radius: 0;
  margin: 0 0 3emr 0;
}

.form-inline .form-control {
  font-weight: 500;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  border-radius: 0;
  margin-top: 0;
  background-color: #f5f5f5;
  border: 1px solid #95989a;
}

@media (max-width: 480px) {
  .form-inline .form-control {
    width: 100%;
  }
}

.path-depression .views-exposed-form, .path-depression .views-row, .path-anxiety .views-exposed-form, .path-anxiety .views-row, .path-bipolar .views-exposed-form, .path-bipolar .views-row, .path-psychosis .views-exposed-form, .path-psychosis .views-row, .path-self-harm .views-exposed-form, .path-self-harm .views-row, .path-screening-tools .views-exposed-form, .path-screening-tools .views-row, .page-node-15 .views-exposed-form, .page-node-15 .views-row, .path-learn .views-exposed-form, .path-learn .views-row {
  max-width: 1170px !important;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .views-exposed-form {
    margin: 0 3rem;
  }
}

legend {
  margin-top: 1em;
}

.form-inline .checkbox input[type="checkbox"] {
  margin-right: .5em;
}

.form-inline .checkbox label {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 200px;
}

/*----------  DEPRECATED (?) DIY SEARCH/FILTER  ----------*/
.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form-type-checkbox {
  background: none !important;
  background-position: none;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form-inline .checkbox input[type="checkbox"] {
  left: -5px !important;
  margin: .75em;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 #edit-field-diy-type-target-id .form-checkboxes {
  background: #ffffff;
  padding: 0 0 .4em;
  margin: 2em -15px;
  text-align: center;
  visibility: visible;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .fieldset-wrapper {
  background: #ffffff;
  padding: 0 0 .4em;
  margin: 2em -15px;
  text-align: center;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .fieldset-legend {
  visibility: visible;
  font-weight: 500;
  border-bottom: 1px solid #f5f5f5;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form--inline.form-inline, .region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 legend {
  border: none;
}

@media (max-width: 480px) {
  .region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form--inline.form-inline,
  .region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 legend {
    padding: 3em;
  }
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 legend {
  visibility: visible;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form-control {
  visibility: visible;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .control-label {
  font-size: 1.2em;
  font-weight: 400;
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form-inline .checkbox label {
  margin: 0 2em;
  width: 250px !important;
  text-align: left;
}

@media (max-width: 767px) {
  .region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 .form-inline .checkbox label {
    width: 90% !important;
  }
}

.region-sidebar-first #views-exposed-form-doing-things-on-your-own-diy--page-1 legend {
  visibility: visible;
}

#views-exposed-form-doing-things-on-your-own-diy--page-1 .form-type-checkbox {
  background: url(/sites/default/files/plus-sign.png) no-repeat;
  background-position: 20px 8px;
}

#views-exposed-form-doing-things-on-your-own-diy--page-1 legend {
  visibility: hidden;
  display: none;
}

/*----------  STYLES FOR NEW PATHWAY PAGE DESIGN  ----------*/
#pathway .clearfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pathway a {
  border: 2px solid #000;
  display: block;
  margin: 0 4px 15px;
  padding: .75rem;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
}

#pathway a:hover {
  border: 2px solid #ed6963;
  background-color: #ed6963;
  color: #fff;
  text-decoration: none;
}

#pathway h2 {
  background: #144b5e;
  padding: 1rem;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 200;
}

#pathway h3 {
  font-weight: 500;
  padding-left: 1rem;
  font-size: 1.6rem;
}

#pathway h2, #pathway h3 {
  text-align: left;
}

/*----------  TAG PAGES  ----------*/
li.node-readmore a:link, li.node-readmore a:visited, .feed-icons a:link, .feed-icons a:visited {
  color: #0a5794;
  background-color: #fff !important;
  border: 1px solid #0a5794 !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: .5rem 1rem !important;
  text-decoration: none;
}

/*=====  End of NAVIGATION PAGES  ======*/
/*=============================================
=            BUTTONS                          =
=============================================*/
/*
.btn {
	font-weight: 500;
}
*/
/*----------  BTN-PRIMARY  ----------*/
.btn-primary {
  font-weight: 500;
  color: #fff;
  background-color: #154b5e;
  border-color: #fff !important;
  padding: .75em 1.5em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
}

/*----------  BTN-DEFAULT  ----------*/
.btn-default {
  font-weight: 500;
  background-color: #0e3953;
  color: #fff;
  border-radius: 10px;
  padding: .75em 3em;
}

/*----------  NAVBAR BUTTONS  ----------*/
a.btn-white {
  display: none !important;
}

/*----------  BTN-BLUE  ----------*/
/*
.btn-blue {
    // should be unnecessary if we remove the bottom: property
    position: relative;
    
    // ! this may be responsible for some weird alignment stuff; it shifts the button upward. why?
    bottom: 1em;
    
    // should be redundant...
    text-transform: uppercase;
}
*/
.btn-blue a:link,
.btn-blue a:visited {
  float: left;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  display: block;
  line-height: inherit;
  word-wrap: break-word;
  height: 165px;
  width: 100%;
  margin: .7rem 0;
  padding: 1.7rem 1rem;
  color: #FFFFFF;
  font-size: 1.35rem;
  text-transform: uppercase;
  background: #1db4bb;
}

@media (max-width: 480px) {
  .btn-blue a:link,
  .btn-blue a:visited {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    padding: .75rem 1rem;
  }
}

.btn-blue a:link:hover,
.btn-blue a:visited:hover {
  background: #154b5e;
}

@media (max-width: 767px) {
  .btn-blue a:link,
  .btn-blue a:visited {
    height: auto;
    margin: 0 0 15px;
    padding: .75rem 1rem;
  }
}

/*
.btn-blue a {
	background: #1db4bb;
	border: 0;
	display: block;
	float: left;
	// font-family: 'Montserrat', sans-serif; 
	height: 165px;
	width: 100%;
	margin: .5em;
	overflow: hidden;
	padding: 1.25em .75em;
	color: #FFFFFF;
	font-size: 1.75em;
	font-weight: 500;
	line-height: inherit;
	text-align: center;
	word-wrap: break-word;
	text-transform: uppercase;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transition: background 100ms linear;
	-moz-transition: background 100ms linear;
	-ms-transition: background 100ms linear;
	-o-transition: background 100ms linear;
	transition: background 100ms linear;
}
// this is smaller than the xs bootstrap setting, which is <576 
@media (max-width: 480px) {
	.btn-blue a {
		height: auto;
		width: 95%;

		// better than the default size, but this is probably an overcompensation. another option: reduce the padding 
		font-size: 1.1em;
	}
}
.btn-blue a:hover {
	background: #154b5e;
	text-decoration: none;
}
*/
/*----------  BTN-INFO  ----------*/
.btn-info {
  color: #fff;
  background-color: #0a5794;
  border-color: #0a5794;
}

.btn-info:hover {
  color: #fff;
  background-color: #ed6963;
  border-color: #ed6963;
}

/*----------  ARTICLE LINKS - WHITE BUTTONS  ----------*/
.btn-salmon a:link,
.btn-salmon a:visited,
.more-link a:link,
.more-link a:visited {
  float: left;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  display: block;
  line-height: inherit;
  word-wrap: break-word;
  height: 100px;
  width: 200px;
  margin: 0 4px 15px;
  padding: .75em;
  color: #000;
  border: 2px solid #000;
}

@media (max-width: 480px) {
  .btn-salmon a:link,
  .btn-salmon a:visited,
  .more-link a:link,
  .more-link a:visited {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    padding: .75rem 1rem;
  }
}

.btn-salmon a:link:hover,
.btn-salmon a:visited:hover,
.more-link a:link:hover,
.more-link a:visited:hover {
  border: 2px solid #ed6963;
  background-color: #ed6963;
  color: #fff;
}

/*
// these classes are applied to <div> wrappers around the links. they do not use the .btn class. 
.btn-salmon, .more-link {
	position: relative;
	bottom: 1em;
}
.btn-salmon a, .more-link a {
	background: #fff;
	background-color: rgb(255, 255, 255);
	border: 2px solid #000;
	display: block;
	float: left;
	height: 100px;
	margin: 0 4px 15px;
	overflow: hidden;
	padding: .75em;
	width: 200px;
	color: #000;
	font-size: 1.25em;
	font-weight: 500;
	line-height: inherit;
	text-align: center;
	word-wrap: break-word;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: background 100ms linear;
	-moz-transition: background 100ms linear;
	-ms-transition: background 100ms linear;
	-o-transition: background 100ms linear;
	transition: background 100ms linear;
}
// this is smaller than the xs bootstrap setting, which is <576 
@media (max-width: 480px) {
	// i actually like how the .btn-blue links work on mobile currently, for reference 
	.btn-salmon a, .more-link a {
		width: 100%;

		// this is actually undesirable, at least on /depression etc.; the default height:100px is fine and allows for more articles to be displayed at once 
		height: 150px;

		// centers things a bit better than the default 
		margin: 0 0 15px;

		// 1.5em would be better 
		padding: 2em;
	}
}
.btn-salmon a:hover, .more-link a:hover {
	border: 2px solid $salmon;
	background-color: $salmon;
	color: #fff;
	text-decoration: none;
}
*/
.more-link.form-group a {
  margin-left: 1.1rem;
}

@media (max-width: 480px) {
  .more-link.form-group a {
    margin-left: .9rem;
    width: 92%;
  }
}

@media (min-width: 683px) and (max-width: 767px) {
  .more-link.form-group a {
    margin-left: 0;
  }
}

/*=====  End of BUTTONS  ======*/
/*=============================================
=            IMAGES & THUMBNAILS              =
=============================================*/
.img-responsive,
.center-image {
  margin: 0 auto;
}

.col-wrapper {
  margin: 0 0 2em 0;
}

.col-wrapper img {
  width: auto;
  max-height: 140px;
}

.diy-title h4 {
  font-size: 1rem;
  text-align: center;
}

.diy-body {
  margin: 0 auto;
  word-wrap: break-word;
  width: 100%;
}

.diy-body p {
  font-size: small;
  line-height: 1.1;
  text-align: center;
}

/*=====  End of IMAGES & THUMBNAILS  ======*/
/*=============================================
=            WEBFORMS 			              =
=============================================*/
.field--label, .file {
  font-weight: 600;
  font-size: 1.2em;
  color: #0a5794 !important;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.form-control {
  color: #666;
  background-color: #f5f5f5;
  border: 1px solid #95989a;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*
.form-required:after {
	display: none;
}
*/
.page-node-15 .main-container, .path-webform .main-container {
  max-width: 1170px !important;
  margin: 0 auto;
}

.webform-submission-add-form {
  margin: 0 auto;
  padding: 3em 0;
}

@media (max-width: 480px) {
  .webform-submission-add-form {
    max-width: 480px;
  }
}

.webform-submission-form {
  width: 95%;
  margin: 0 auto;
}

.webform-submission-form .radio label {
  margin: 0 1.5em 0 0;
}

.ui-widget {
  font-family: inherit;
}

.webform-buttons {
  margin-bottom: 1.5em;
}

.ui-button, .ui-button:hover {
  font-weight: 600;
  color: #810262;
  margin: .75em .5em .25em .5em;
  padding: .5em 1.25em;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #810262;
  background: #810262;
  font-weight: 600;
  color: #ffffff !important;
}

.btn-warning {
  color: white !important;
  border-color: #eea236 !important;
  padding-bottom: 6px !important;
}

.btn-warning:hover {
  border: 1px solid;
}

@media (max-width: 767px) {
  .radio, .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.input-group-addon {
  border: initial;
  background: initial;
  text-align: initial;
  white-space: initial;
  padding: initial;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  display: inline;
}

.description.help-block {
  color: inherit;
}

/*=============================================
=            NAVBAR / HEADER                  =
=============================================*/
.logo img {
  max-height: 50px;
  margin-top: .5rem;
}

@media (max-width: 767px) {
  .logo img {
    margin-top: .75rem;
    max-height: 64px;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-width: 75%;
  }
}

.navbar .logo {
  margin-top: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default {
  max-width: 1170px;
}

.navbar-default .navbar-brand {
  display: none;
}

.navbar-default .navbar-toggle {
  border-color: #262626;
}

/*----------  BOTH NAVBARS  ----------*/
.navbar-collapse {
  border-color: white !important;
}

@media (min-width: 768px) {
  .navbar-default .container {
    padding-left: 0;
  }
}

.navbar-default .navbar-nav {
  margin: .5rem 0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    margin: 1rem 0 1rem -1.2rem;
  }
}

@media (max-width: 480px) {
  .navbar-default .navbar-nav {
    margin-bottom: 0;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .05rem;
  text-transform: uppercase;
}

/*----------  NAVBAR 1: TOP RIGHT  ----------*/
#navbar-mobile {
  width: 64%;
  float: right;
}

@media (max-width: 767px) {
  #navbar-mobile {
    width: 100%;
    float: none;
  }
  #navbar-mobile .navbar-collapse {
    border-bottom: 1px solid #dddddd !important;
  }
}

@media (max-width: 480px) {
  #navbar-mobile .navbar-collapse {
    padding: 0px;
  }
}

#top-nav .nav {
  float: right;
}

#top-nav .nav > li {
  float: left;
}

#top-nav .nav > li > a {
  color: #262626;
  padding: .75em 1em;
  font-size: small;
  font-weight: 600;
  margin: 0 0 0 1em;
}

#top-nav .nav > li > a:hover, #top-nav .nav > li > a:focus {
  background: #ed6963;
  border: 1px solid #ed6963;
  color: #ffffff !important;
}

@media (max-width: 767px) {
  #top-nav .nav > li > a:hover, #top-nav .nav > li > a:focus {
    background: none;
    border: none;
    color: #0370c6 !important;
  }
}

#top-nav .btn-danger {
  background: #ffffff;
  border: 1px solid #ed6963;
  color: #ed6963 !important;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  #top-nav .btn-danger {
    border: none;
  }
}

#top-nav input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
  background-color: transparent;
  background-image: url("/sites/default/files/inline-images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 40px;
  height: 40px;
  padding: 12px 20px 12px 40px;
  margin: .75em 1em 0 2em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
}

@media (max-width: 480px) {
  #top-nav input[type=text] {
    float: left !important;
  }
}

#top-nav input[type=text]:focus {
  width: 300px;
  border-bottom: 1px solid #dddddd;
}

@media (max-width: 480px) {
  #top-nav input[type=text]:focus {
    border-color: transparent;
  }
}

/*----------  NAVBAR 2: CONDITIONS/TOPICS  ----------*/
@media (min-width: 768px) {
  .navbar-nav.container {
    margin-left: -2rem;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #262626;
  background-color: transparent;
}

.navbar-default .navbar-nav a:hover {
  text-decoration: underline;
}

/*=============================================
=            BLOCKS BELOW MAIN CONTENT        =
=============================================*/
h2.block-title {
  text-align: center;
}

/* ----------  TREATMENT & RESOURCES BLOCK  ----------*/
/*
#block-views-block-treatment-block-1 a,
#block-forntpagecolumns a,
#block-whatsnew a,
#block-whatsnew-2 a
*/
.col-wrapper a:link, .col-wrapper a:visited {
  font-weight: 500;
  line-height: 1;
  border: none;
}

.col-wrapper a:hover {
  text-decoration: underline;
}

.min-height {
  min-height: 16rem !important;
}

@media (max-width: 767px) {
  .min-height {
    min-height: 0px !important;
  }
}

/*----------  SEARCH FOR TREATMENT NEAR YOU  ----------*/
/*
// block-webform-3 is the "search for treatment near you" block. on the block layout, it's called "search for local service" 
#block-webform-3 {
	background: url(/sites/default/files/black-map.png) no-repeat;

	// ! this should be "cover" 
	background-size: contain;

	// ! min-height just adds a bunch of blank space below the block! 
	// min-height: 440px;

	margin: inherit;
}
*/
form#webform-submission-search-for-local-service-add-form {
  background: url(/sites/default/files/black-map.png) no-repeat;
  background-size: cover;
  padding: .5rem 1rem;
  width: auto;
}

#webform-submission-search-for-local-service-add-form p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

/*
// overrides: form#webform-submission-search-for-local-service-add-form p 
// but only font-size. the others are duplicates. 
#edit-find-support-zip-code-text p {
	// color: #fff !important; 
	font-size: 2em !important;
	// font-weight: 600; 
}
*/
/*
.field.field--name-body img {
    max-width: 300px;
    height: auto;
}
*/
/*
// i can't find this (searched "findbyzipcode" in the database) but the settings are mostly the same as #webform-submission-search-for-local-service-add-form. could this be a deprecated version of the same form? 
#block-findbyzipcode {
	background: url(/sites/default/files/black-map.png) no-repeat;
	background-size: cover;
	margin: inherit;
	min-height: 440px;
}
*/
/*----------  ABOUT MENTAL HEALTH AMERICA  ----------*/
#block-aboutmentalhealthamerica {
  background: url(/sites/default/files/bell.png) no-repeat;
  background-size: 280px;
  margin: 0 15px;
}

@media (max-width: 480px) {
  #block-aboutmentalhealthamerica {
    background-size: 100%;
  }
}

#block-aboutmentalhealthamerica p {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 2em;
}

#block-aboutmentalhealthamerica a:link, #block-aboutmentalhealthamerica a:visited {
  font-weight: 600;
  padding: .75em 1.5em;
  margin: 0 2em;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 767px) {
  #block-aboutmentalhealthamerica a:link, #block-aboutmentalhealthamerica a:visited {
    padding: .5em 1em !important;
    margin: 1em;
    display: inline-block;
  }
}

#block-aboutmentalhealthamerica a:hover {
  color: #fff !important;
  background: #777 !important;
}

#block-aboutmentalhealthamerica .social-media-links a:hover {
  background: transparent !important;
}

.social-media-links {
  text-align: center;
  margin: 0 auto;
}

/*----------  FOOTER  ----------*/
.footer {
  background: #154b5e;
  padding-top: 1em;
  width: 100%;
  font-size: small;
}

.footer p, .google-search {
  color: #ffffff;
  font-size: .9em;
  font-weight: 300;
  margin: 0;
}

.footer h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: inherit;
  text-transform: uppercase;
}

.footer .nav > li > a:link, .footer .nav > li > a:visited {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
}

.footer .nav > li > a:hover {
  background: transparent;
  text-decoration: underline;
}

.footer .nav > li > a {
  padding: 0 0 .25em 0;
}

.region-superfooter-1 img {
  float: left;
  max-width: 120px;
  margin-top: 22px;
}

.seven-cols .field--name-body {
  padding: 0 !important;
  margin: 0 !important;
}

@media (min-width: 992px) {
  .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

/*=====  End of BLOCKS BELOW MAIN CONTENT  ======*/
/*=============================================
=            SINGLE USE SYTLES                =
=============================================*/
/*----------  HOME PAGE  ----------*/
.slider-wrapper {
  margin: 0 auto;
  width: 100%;
}

.slider-wrapper img {
  width: 100%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-image {
  position: relative;
}

.slider-copy-wrapper-center {
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  margin: 0 auto !important;
  background: transparent !important;
  padding: 2em !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 767px) {
  .slider-copy-wrapper-center {
    position: relative !important;
  }
}

.slider-title {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
  text-shadow: none !important;
  text-align: center !important;
  width: 100% !important;
  margin: 0 auto !important;
}

@media (max-width: 480px) {
  .slider-title {
    font-size: 2.25rem;
  }
}

.slider-body p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  line-height: 1.2;
  text-align: center !important;
  text-shadow: none;
  padding-bottom: 1em;
  width: 100% !important;
  margin: 0 auto !important;
}

.slider-link-nav {
  width: 50%;
  margin: 0 auto;
  color: #fff !important;
}

@media (max-width: 767px) {
  .slider-link-nav {
    width: 100%;
  }
}

.slider-link-1 a:link, .slider-link-1 a:visited {
  color: #fff !important;
  border: none;
}

.slider-link-1 {
  background-color: #154b5e !important;
  border: 1px solid #fff !important;
  display: block;
  float: none !important;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit !important;
  list-style: none;
  text-align: center;
  padding: .75em 1.25em;
  max-width: 300px;
  margin: 0 0 0 4em !important;
  border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.75);
}

.slider-link-2 a:link, .slider-link-2 a:visited {
  color: #000 !important;
  border: none;
}

.slider-link-2 a:hover {
  color: #ed6963 !important;
}

.slider-link-2 {
  background-color: transparent !important;
  border: none !important;
  color: #000000 !important;
  font-size: 1rem;
  font-weight: 600 !important;
  padding: .75em 1.25em !important;
  max-width: 300px;
  text-align: center !important;
  list-style: none;
  margin: 0 auto !important;
}

@media (max-width: 767px) {
  .slider-link-1, .slider-link-2 {
    background-color: #ffffff !important;
    border: none !important;
    text-align: left !important;
    padding: .5em !important;
    max-width: auto !important;
    margin: 1em !important;
    padding: 0 !important;
    border-radius: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 2 !important;
  }
  .slider-link-1 a:link, .slider-link-1 a:visited {
    color: #ed6963 !important;
    padding: .75em 1.25em !important;
  }
  .slider-link-2 a:link, .slider-link-2 a:visited {
    padding: 1.2em;
  }
}

@media (max-width: 480px) {
  .slider-link-1, .slider-link-2 {
    padding: 0 !important;
    padding: .2em !important;
    margin: 0 !important;
  }
  .slider-link-1 a:link, .slider-link-1 a:visited {
    color: #ed6963 !important;
    padding: 0 !important;
  }
  .slider-link-2 a:link, .slider-link-2 a:visited {
    padding: 0;
  }
}

/*----------  /SCREENING-TOOLS  ----------*/
#block-whichscreentotake ul {
  -webkit-column-width: 300px;
  column-width: 300px;
}

#block-whichscreentotake li {
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */
}

/*----------  DOWNLOAD LINK FOR DIY TOOLS  ----------*/
.btn-download a:link,
.btn-download a:visited,
#download-here, #access-here {
  float: left;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
  display: block;
  line-height: inherit;
  word-wrap: break-word;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 10px;
  padding: .5rem .75rem;
  color: #FFFFFF !important;
  background: #ed6963;
  text-transform: uppercase;
  letter-spacing: .05em;
}

@media (max-width: 480px) {
  .btn-download a:link,
  .btn-download a:visited,
  #download-here, #access-here {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    padding: .75rem 1rem;
  }
}

.btn-download a:link:hover,
.btn-download a:visited:hover,
#download-here:hover, #access-here:hover {
  background: #d45a54;
}

#download-here, #access-here {
  text-indent: -9999px;
  width: 188px;
  height: 42px;
  text-align: initial;
}

#download-here::before, #access-here::before {
  position: relative;
  left: 9999px;
}

#download-here::before {
  content: "Download here";
}

#access-here::before {
  content: "Access here";
}

/*----------  WHICH SCREEN TO TAKE  ----------*/
#block-whichscreentotake h2.block-title {
  text-align: center;
  margin: 0 auto !important;
}

/* 
.padding-xs {
	padding: .75em;
}
 */
.padding-sm {
  padding: 1em;
}

/*----------  SCREENING REPORTS  ----------*/
#views-exposed-form-screening-reports-page-1 .form-item-webform-submission-value-2,
#views-exposed-form-screening-reports-page-1 .form-item-created-min,
#views-exposed-form-screening-reports-page-1 .form-item-created-max {
  clear: both;
  padding: 0 0 10px 0;
  float: right !important;
}

#views-exposed-form-screening-reports-page-1,
#views-exposed-form-screening-reports-page-1 #edit-secondary {
  padding: 10px;
  background: #810262;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin: 0 0 15px 0;
}

#views-exposed-form-screening-reports-page-1 fieldset {
  border-color: #FFFFFF;
}

#views-exposed-form-screening-reports-page-1 .form-wrapper legend span.fieldset-legend {
  color: #ffffff;
}

#views-exposed-form-screening-reports-page-1 a {
  color: #FFFFFF;
  float: left;
  width: 100%;
  padding: 0 0 10px;
}

#views-exposed-form-screening-reports-page-1 label {
  float: left;
  font-size: 1.25em;
  font-weight: 300;
  padding: 5px 10px 0 0;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary label {
  float: left;
  font-size: 1.25em;
  font-weight: 300;
  width: 165px;
  padding: 5px 0 0 0;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item,
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-1.form-group:last-child
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-5,
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-6,
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-7,
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-8,
#views-exposed-form-screening-reports-page-1 #edit-secondary .form-item-webform-submission-value-9 {
  clear: both;
  display: block;
  padding: 10px 0 0 0;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary,
#views-exposed-form-screening-reports-page-1 .views-submit-button {
  clear: both;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value,
#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value-3 {
  background: #810262;
  padding: 0;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value .panel-title,
#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value-3 .panel-title {
  color: #FFFFFF;
  float: left;
  font-size: 1.25em;
  font-weight: 300;
  width: 165px;
  padding: 20px 0 5px;
}

#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value .panel-body,
#views-exposed-form-screening-reports-page-1 #edit-secondary #edit-webform-submission-value-3 .panel-body {
  float: left;
  width: 165px;
}

#views-exposed-form-screening-reports-page-1 .form-submit {
  margin-top: 0;
}

div.csv-feed.views-data-export-feed.form-group a.feed-icon {
  width: 140px;
  background: url("../export_report.png") 0px 3px no-repeat;
}

div.view-content div.table-responsive table.table.table-hover.table-striped thead {
  background: #efefef;
  border-bottom: #CCCCCC;
}

/*----------  SCREENING TOOL DISCLAIMER BLOCKS  ----------*/
#block-anxietydisclaimer,
#block-bipolardisclaimer,
#block-depressiondisclaimer,
#block-eatingdisorderdisclaimer,
#block-parentdisclaimer,
#block-psychosisdisclaimer,
#block-ptsddisclaimer,
#block-substanceusedisclaimer,
#block-youthdisclaimer {
  width: 95%;
  margin: 1rem auto;
}

/*----------  MISCELLANEOUS  ----------*/
.toolbar-tray a {
  color: #565656;
}

.depression-crisis-box {
  line-height: 1.4em;
  background: #C24348;
  color: #FFFFFF;
  padding: 10px 20px;
  width: 85%;
}

.depression-crisis-box a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: underline;
}

.rate-undo-vote {
  display: none;
}

/*=====  End of SINGLE USE SYTLES  ======*/
/*
// * .btn-salmon.sm applies to the links on the screening confirmation pages. 
// at any other screen size, these are the same as any other .btn-salmon 
// without a width setting, the width of these depends on their content.  but with a width setting AND being enclosed by a div.col-md-3,    they aren't fully responsive. 
// width: 100%; might be better, but only if they're enclosed by div.col-md-3 everywhere else too. 
// an even better solution is to remove the .col-md-3 on the wrapper. then the only problem is that they don't quite center properly, but this could be fixed by a flexbox enclosure around the whole thing 
// adding a .col-sm-6 is another solution; used under "more anxiety information" 
// applies only to lg 
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
	.btn-salmon.sm a, .more-link.sm a {
		padding: .75em;

		// redundant? or change to :inherit 
		font-size: 1em;

		line-height: 1.1;
		width: 160px;
	}
}
*/
/*
// .nav-pills applies to the <ul> wrapping  
// .nav-pills is meant to be a pill alternative to tabs--doesn't apply to this use case. should probably be .navbar-btn 
// also weird that this is a <ul> at all. it has a <div> inside for .region-top-navigation, which in turn has a <nav> in it (#block-s2s-account-menu), which in turn contains another <ul> that has .nav.navbar-nav.navbar-right 
// in fact, because this only targets direct descendents, this never applies to anything at all!! (i think) 
.nav-pills>li>a {
	color: #262626;

	// redundant? or change to :inherit 
	font-size: 1em;

	font-weight: 300;
	// font-family: 'Montserrat', sans-serif; 
}
*/
/*
@media (max-width: 480px) {
	// the first block here applies to all three links (sign up/login, donate, take a screen); the second block is only the latter 2. 
	// if you remove both line-height:0 properties, the links are still lined up, just slightly lower. if you remove the first one but leave the second one, they are out of alignment. 
	// the margin setting isn't really necessary without the line-height settings, although on very small screens it makes the buttons stack a little weirdly 
	// maybe these could be managed using .col- classes instead 
	#top-nav .nav>li>a {
		// margin: .85em 0 0 0;
		// line-height: 0;
	}
	#top-nav .btn {
		// line-height: 0;
	}
}
*/
/*
@media (max-width: 480px) {
	#navbar #top-nav .btn-danger {
		// necessary for proper alignment, especially on super small screens 
		// ? what? why would background-color affect alignment? 
		background: #ffffff;
		// not desirable... why would we change these colors? we don't change the color of the "take a screen" button on the slider 
		color: #262626 !important;
	}
}
*/
/*
// overly specific. no reason for a separate block as this is targeting the same things as the previous block. because there are extra wrappers in between <ul>.nav-pills and <li>, this styling is never applied. 
#navbar #top-nav .nav-pills>li>a.btn-danger {
	color: $salmon !important;

	// redundant? or change to :inherit 
	font-size: 1em;

	margin: 0 .75em 0;
}
*/
/*
// applies to sign up/login button. i don't think btn-white is used anywhere else, so the nesting is probably unnecessary. 
#top-nav .nav>li>a.btn-white:hover, #top-nav .nav>li>a:focus {
	background: transparent;
	border: none;
	color: #0370c6 !important;
}
*/
/*
// i haven't encountered .center-block outside of .footer, but i haven't looked hard 
.footer .center-block {
	// such a small margin... why is this even here? 
	margin-bottom: 0.2em;
}
*/
/*
@media (min-width: 1200px) {
	.seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
	}
}
*/
/*
// seems to be the "Content (Below Sidebar / Contained)" region on the block layout... includes "about MHA", "sign up for newsletter", disclaimers... but weirdly enough it's different from Content (Below Sidebar / Full Width)" region, which is .full-width-wrapper-total 
.full-width-wrapper {
	// doesn't seem to have an effect anyway 
	max-width: 1170px;
}
*/
/*
// currently redundant because of: @media (max-width: 480px) .col-wrapper img {width: 100%}. but if that is disabled, this becomes necessary to make the images in the "treatment & resources" block not tiny on mobile. 
// the margin: 0 auto seems to be unnecessary because of .img-responsive, .center-image {margin: 0 auto} 
// the width is actually not redundant for #block-whatsnew img, but it also has an undesirable effect--it stretches the images horizontally. without it the images are too wide in tablet view, so it really needs a height: auto 
#block-views-block-treatment-block-1 img, #block-whatsnew img, #block-whatsnew-2 img {
	margin: 0 auto;
	// stretches these images on small sizes 
	// width: 100%; 
}
*/
/*----------  SIGN UP FOR OUR NEWSLETTER  ----------*/
/*
// * "webform" is the machine name for the "sign up for our newsletter" block! 
// block-webform is both the class and id of this block 
// why does this need a .block-title class? there's only one title 
.block-webform h2.block-title {
	text-align: center;
	// font-family: 'Montserrat', sans-serif; 
}
*/
/*----------  TELL US WHAT YOU THINK  ----------*/
/*
// * "webform_2" is the machine name for the "tell us what you think" block! 
// this is the same selector twice! also, the only links in this block are contextual admin links; these styles have no visible effect. 
#block-webform-2 a:link, #block-webform-2 a:link {
	color: #000;
	font-weight: 500;
}
// ! these are all bad 
#block-webform-2 {
	// font-family: 'Montserrat', sans-serif; 
	background: #1db4bb;
	margin: 0 -15px;
}
*/
/*
.field.field--name-body ul {
	// doesn't seem to do anything 
	// padding-left: 1.5em;

	
	// same as body, p; 
	// not sure why this doesn't inherit from body 
	// ^ it does if you change it to an <ol> 
	// is it because we're using ems, not rems? 
	// font-size: 1.25em;
}
ol {
    // doesn't fit in with new sizing scheme
	// font-size: 1.25em;
}
*/
/*# sourceMappingURL=style.css.map */